<!--
  upper bar
-->
<nav class="navbar navbar-green bg-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink = "employees" routerLinkActive="active" class="nav-link"> Flights</a>
    </li>
  </ul>
  
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink = "create-employee" routerLinkActive="active" class="nav-link"> BookMyFlight (Vendor)</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
  <div class = "container">
    <router-outlet></router-outlet>>
  </div>

  <footer class = "footer">
    <div class = "container">
      <span>All Rights Reserved 2022 @ChanKim</span>
    </div>
  </footer>
